<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lav.tuttest" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <provider
            android:name=".db.DbProvider"
            android:authorities="@string/db_provider_authorities"
            android:exported="false" >
        </provider>

        <service
            android:name=".service.TimeService"
            android:exported="false"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.lav.tuttest.service.TimeService"></action>
            </intent-filter>
        </service>

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
